{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 60.4711968,
    "longitude": 5.2714683,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Oslo",
    "external_url": null,
    "internal_url": null,
    "currency": "NOK",
    "country": "NO",
    "language": "en-GB",
    "radius": 100
  }
}